:root {
  --background-color: #253237;
  --button-color: #5c6b73;
  --section-color: #9db4c0;
  --shadow-color: #c2dfe3;
  --font-color: #e0fbfc;
}

.App {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.btn {
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: var(--button-color);
  color: var(--font-color);
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  transform: scale(0.95);
}

.activity {
  margin: 10px;
  padding: 20px;
  background-color: var(--section-color);
  border-radius: 10px;
  width: 500px;
}

.history {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  overflow: auto;
  background-color: var(--section-color);
}

.historyActivity {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border-bottom: 1px dotted var(--button-color)
}

.show {
    padding: 2px;
    border-radius: 5px;
    user-select: none;
}

.show:hover {
    background-color: var(--button-color);
    color: var(--font-color);
    cursor: pointer;
}

.filter {
  width: 500px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--section-color);
}

.filterField {
  display: flex;
  justify-content: space-between;
  margin: 5px 5px;
}

.filter input, .filter select {
  width: 150px;
}

.rc-slider {
  width: 150px !important;
}

.range {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.rangeVal {
  width: 12px;
  height: 12px;
}

.min {
  margin-right: 15px;
}

.max {
  margin-left: 15px;
}

.useFilter {
  display: flex;
  justify-content: center;
}

.error {
  margin: 15px;
  padding: 15px;
  color: var(--font-color);
  background-color: #ff2d2d;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--button-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--shadow-color);
}
